.icon-left {
    position: absolute;
    top: 10px;
    left: 10px;
}
.season-display.Winter i {
    color: rgb(135, 135, 238);
}
.season-display.Summer i {
    color: crimson;
}
.txt {
    font-size: 35px;
    font-style: italic;
    color: rgb(241, 116, 74);
}
.icon-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.season-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Winter {
    background-color: aliceblue;
}
.Summer {
    background-color: orange;
}
.border-red {
    border: 2.5px solid #FBA3F3;
}
.ui.active.dimmer {
    background-color: #ffe7fe;
}
.ui.big.text.loader {
    color: #fd7e8e;
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
}
.ui.dimmer .ui.loader:after {
    border-color: grey transparent transparent;
}